<%- if @message.multipart? -%>
<p>
  <%= f.label :html_part, "HTML Part" %>
  <%= f.text_area :html_part %>
</p>
<%- end -%>

<p>
  <%= f.label :plain_part, "Plain Text" %>
  <%= f.text_area :plain_part %>
</p>

<%= f.hidden_field :state, :value => 'content_edited' %>

<%- unless @message.attachments.empty? -%>
<h2>Attached Files:</h2>
<%= render :partial => 'attachments/attachment', :collection => @message.attachments %>

<%- end -%>

