<% form_for @message, :html => { :multipart => (@message.multipart) } do |f| -%>
  <%= f.error_messages %>
  <h2>
  Enter Title and Type of Message
  </h2>
  <p>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br />
  <%= f.label :source_plain, "Plain Text Only" %>
  <%= f.radio_button("source", "plain") %>
  <br />
  <%= f.label :source_html, "HTML and Plain Text" %>
  <%= f.radio_button("source", "html") %>
  <%- if current_user.email_templates.count > 0 -%>
    <br />
    <%= f.label :source_template, "From Template" %>
    <%= f.radio_button("source", "template") %>
  <%- end -%>
  </p>
  
  <%= f.submit "Next" %>
<% end -%>
