<h1>Welcome to Mailer</h1>

<h2>Email Templates</h2>

<ul>
  <li>
    <%= link_to "Email Templates", new_email_template_path %>
  </li>

  <li>
    <%= link_to "Recipients", recipients_path %>
  </li>

  <li>
    <%= link_to "New Message", new_message_path %>
  </li>

  <li>
    <%= link_to "Groups", groups_path %>
  </li>

  <li>
    <%- if current_user.admin -%>
      <%= link_to "Edit Users", users_path %><br />
    <%- else -%>
      <%= link_to "Edit Profile", edit_user_path(current_user) %><br />
    <%- end -%>
  </li>
  
</ul>
